registry="https://registry.npmmirror.com"
@sterfive:registry=http://gitlab.sterfive.fr:4873
disturl="https://npmmirror.com/mirrors/node/"

# Electron 镜像
electron_mirror=https://npmmirror.com/mirrors/electron/
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/

version-git-tag=false
version-commit-hooks=false
version-git-sign=false
version-sign-git-tag=false

# better-sqlite3 镜像
better_sqlite3_binary_host=https://npmmirror.com/mirrors/better-sqlite3/