/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}  */

:root {
  --back-blur: 16px;
  --html-font: 16px;
  /* --theme-color: #161616; */
  --theme-color: #213547;
  --theme-background: #ffffff;
  /* --container-back: rgb(235 235 235 / 50%); */
  --container-back: rgb(217 217 217 / 12%);
  --tag-back: #ebebeb2e;
  --border-color: #a9a9a9;
  --tool-bar: #1899E1;
  --tool-btn-color: #fff;
}
* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  min-height: 100vh;
  color: var(--theme-color);
  background: var(--theme-background);
  scrollbar-width: thin;
}

html.dark {
  --theme-color: #e5eaf3;
  --theme-background: #141414;
  --container-back: rgb(39 39 39 / 50%);
  --tag-back: #161616;
  --border-color: #fff;
  --tool-bar: #000;
}

::view-transition-old(root),
::view-transition-new(root) {
  height: auto;
  width: 100vw;
  animation: none;
  mix-blend-mode: normal;
}

html.dark::view-transition-old(root) {
  z-index: 999;
}

html.dark::view-transition-new(root) {
  z-index: 1;
}

html::view-transition-old(root) {
  position: absolute;
  z-index: 1;
}

html::view-transition-new(root) {
  position: absolute;
  z-index: 999;
}

li {
  list-style: none;
}

body {
  width: 100%;
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
