    /* --primary-100:#d4eaf7;
    --primary-200:#b6ccd8;
    --primary-300:#3b3c3d;
    --accent-100:#71c4ef;
    --accent-200:#00668c;
    --text-100:#1d1c1c;
    --text-200:#313d44;
    --bg-100:#fffefb;
    --bg-200:#f5f4f1;
    --bg-300:#cccbc8; */
      

:root {
  --clr: #F5F5F5;
  --menu-bg: #fffefb;
  --text-color: #3b3c3d;
  --back-blur: 16px;
  --html-font: 16px;
  --theme-color: #213547;
  --theme-background: #ffffff;
  --container-back: rgb(217 217 217 / 12%);
  --tag-back: #ebebeb2e;
  --border-color: #a9a9a9;
  --tool-bar: #cccbc8;
  --tool-btn-color: #fff;
  --color-tool-btn-bg: #ededed71;
  --height-header: 30px;
  --accent-100:#71c4ef;
  --content-bg: #f5f4f1;
}
* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  min-height: 100vh;
  color: var(--theme-color);
  background: var(--theme-background);
  scrollbar-width: thin;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html.dark {
  --theme-color: #e5eaf3;
  --theme-background: #141414;
  --container-back: rgb(39 39 39 / 50%);
  --tag-back: #161616;
  --border-color: #fff;
  --color-tool-btn-bg: #b9b9b94a;
  --tool-bar: #0538b2;
  --clr: #1F1F1F;
  --menu-bg: #181818;
  --text-color: #E5EAF3;
  --tool-btn-color: #E5EAF3;
}

::view-transition-old(root),
::view-transition-new(root) {
  height: auto;
  width: 100vw;
  animation: none;
  mix-blend-mode: normal;
}

html.dark::view-transition-old(root) {
  z-index: 999;
}

html.dark::view-transition-new(root) {
  z-index: 1;
}

html::view-transition-old(root) {
  position: absolute;
  z-index: 1;
}

html::view-transition-new(root) {
  position: absolute;
  z-index: 999;
}

li {
  list-style: none;
}

body {
  width: 100%;
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#app {
  min-height: 100vh;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
.el-card {
  background-color: var(--content-bg)!important;
}
